@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  margin: 0;
  background: rgb(42, 42, 65);
}
.card-info{
  background: rgb(28, 25, 44);
  border-radius: 30px;
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  display: flex;
  height: 40%;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
}
.card-left{
  border-radius: 30px;
  width: 50%;
  transition: 1s;
}
.card-left h1{
  /* text-align: center; */
  margin-left: 5%;
}
.card-left p{
  margin-left: 5%;
  margin-bottom: 15%
}
.card-right{
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: space-between;
  align-items:center;
  width: 50%;
}
.card-left:hover{
  width: 60%;
} 
.card-right-labels{
  color:white;
}
.card-right-details{
  color: white;
  text-align: right;
}
